// .toggle-switch {
//   --width: 50px;
//   --bg-color: var(--my-black);
//   --bg-color-checked: var(--my-font-dark);
//   --slider-color: var(--my-white);
//   --slider-color-checked: var(--my-green);
//   --moon-shape: var(--bg-color);
//   // uncomment for full moon.
//   // --moon-shape: var(--slider-color);
//   position: relative;
//   width: var(--width);
//   height: calc(var(--width) / 2);
// }

// label {
//   position: absolute;
//   width: 100%;
//   height: calc(var(--width) / 2);
//   background-color: var(--bg-color);
//   border-radius: calc(var(--width) * 0.25);
//   cursor: pointer;
// }

// input {
//   position: absolute;
//   display: none;
// }

// .slider {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   border-radius: calc(var(--width) * 0.25);
//   transition: 0.3s;
// }

// input:checked ~ .slider {
//   background-color: var(--bg-color-checked);
// }

// .slider::before {
//   content: '';
//   position: absolute;
//   top: calc(var(--width) * 0.065);
//   left: calc(var(--width) * 0.08);
//   width: calc(var(--width) * 0.375);
//   height: calc(var(--width) * 0.375);
//   border-radius: 50%;
//   box-shadow: inset calc(var(--width) * 0.14) calc(var(--width) * (-0.02)) 0px 0px var(--slider-color);
//   background-color: var(--moon-shape);
//   transition: 0.3s;
// }

// input:checked ~ .slider::before {
//   transform: translateX(calc(var(--width) * 0.475));
//   background-color: var(--slider-color-checked);
//   box-shadow: none;
// }

.btn {
  opacity: 0.8;
  outline: none;
  background: var(--bg-color);
  border: none;
  color: var(--font-color);

  // visibility: hidden;
  // color: white;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
