.button {
  --text-color: var(--my-black);
  --bg-color: var(--my-green);
  border: none;
  border: 1px solid black;
  background: linear-gradient(180deg, hsla(102, 63%, 60%, 1) 0%, hsla(0, 0%, 20%, 1) 100%);
  color: var(--text-color);
  overflow: hidden;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: bold;
  font-size: var(--height, 16px);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(0, 0, 0, 0.2), inset 4px 4px 6px 0 rgba(255, 255, 255, 0.2);

  outline: none;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
  color: white;
  background-color: var(--my-green);
}
.button:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.button:active {
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.5), 7px 7px 20px 0px rgba(255, 255, 255, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
