// .button {
//   border-radius: var(--radius);
//   box-shadow: var(--shadow);
//   border: 1px solid #000000;
//   background-color: var(--my-green);
//   color: var(--my-white);
// }

.button {
  --text-color: var(--font-color);
  --bg-color: var(--my-green);
  --border-color: var(--my-black);
  --top-text-color: var(--text-color);
  --top-bg-color: var(--my-red);
  --top-border-color: var(--border-color);
  width: 250px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  border: none;
  box-shadow: var(--shadow);
  overflow: hidden;
  border-radius: var(--radius);
}
.button div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
.button:hover div {
  transform: rotateX(-90deg);
}
span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
  text-transform: uppercase;
  left: 0;
  background-color: var(--bg-color);
  padding-top: 5px;
}
span:nth-child(1) {
  color: var(--text-color);
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
span:nth-child(2) {
  color: var(--top-text-color);
  background: var(--top-bg-color);
  border: 1px solid var(--top-border-color);
  border-radius: var(--radius);
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}
