.info {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 919px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 619px) {
    grid-template-columns: repeat(1, 1fr);
  }
  justify-items: center;
  padding: 12rem 0;
  gap: 12rem 0;

  position: relative;
  background-color: var(--my-white);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/blueprint.svg');
    background-size: cover;
    opacity: 0.07;
  }
}
