.hero {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  grid-template-areas: 'a';
}
picture,
.pic {
  grid-area: a;
  display: block;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
