.contactForm {
  min-height: 100vh;
  display: grid;
  padding: 12rem 1rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 6rem;
  grid-template-areas:
    'garrett'
    'form';
  // @media (min-width: 1000px) {
  //   gap: 1rem;
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-areas: 'garrett form';
  // }

  position: relative;
  z-index: 1;
  background-color: var(--my-white);

  &::before {
    content: '';
    position: absolute;
    background-image: url('/blueprint.svg');
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.07;
  }
}
