.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/testimonials/home.jpeg') center center/cover no-repeat rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  z-index: 0;
}
