.background {
  background-image: url('/electrical/commercial.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 100%;
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4rem;
  color: var(--my-white);

  .certs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
  }

  h1 {
    font-size: 45px;
    text-shadow: 2px 2px 2px black;
  }
  button {
    padding: 1rem 1.5rem;
    background-color: var(--my-black);
    color: var(--my-white);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: background-color 1s;
    &:hover {
      background-color: var(--my-purple);
    }
  }
}
