$tablet: 912px;
$phone: 630px;

.header {
  --height: 100px;
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: $phone) and (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: ($tablet + 1px)) {
    grid-template-columns: repeat(3, 1fr);
  }
  justify-items: center;
  align-items: center;

  padding: 1rem 2rem;
  width: 100%;

  background: var(--bg-color);
  min-height: var(--height);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/header/electrical.svg');
    background-size: cover;
    opacity: 0.05;
  }

  .masterElec {
    // justify-self: start;
    display: none;
    @media (min-width: $phone) {
      display: flex;
    }
    justify-content: start;
    & > picture {
      height: calc(var(--height));
      // filter: drop-shadow(7px 5px 9px hsla(0, 0%, 0%, 0.6));
      width: auto;
    }
    & > div {
      margin-top: 16px;
      margin-left: -44px;
      position: relative;
      z-index: 1;
      & > p {
        font-weight: bold;
        font-size: 22px;
        text-shadow: 1px 1px 1px var(--my-green);
      }
      & > .phone {
        display: none;
        @media (max-width: $tablet) {
          display: block;
        }
        position: absolute;
        bottom: -7px;
        right: 25px;
      }
    }
  }

  .phoneNumber {
    --size: 32px;
    display: none;
    @media (min-width: $tablet) {
      display: flex;
    }

    // outline: var(--my-outline);
    // font-size: var(--size);
    // font-weight: bold;
    // justify-self: end;

    // svg {
    //   margin-top: calc(var(--size) * 0.325);
    //   margin-right: calc(var(--size) * 0.325);
    //   color: var(--my-svg) !important;
    //   stroke: var(--my-black);
    //   stroke-width: 35px;
    // }
  }
}
