.header {
  --height: 100px;
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  padding: 1rem 2rem;
  width: 100%;

  background: var(--bg-color);
  min-height: var(--height);

  .masterElec {
    justify-self: start;
    display: flex;
    justify-content: start;
    & > img {
      height: calc(var(--height));
      filter: drop-shadow(7px 5px 9px hsla(0, 0%, 0%, 0.6));
    }
    & > div {
      margin-top: 16px;
      margin-left: -44px;
      z-index: 1;
      & > p {
        font-weight: bold;
        font-size: 22px;
        text-shadow: 1px 1px 1px var(--my-green);
      }
    }
  }

  :nth-child(2) {
    // justify-self: center;
  }
  .phoneNumber {
    --size: 32px;
    display: flex;
    // outline: var(--my-outline);
    font-size: var(--size);
    font-weight: bold;
    justify-self: end;

    svg {
      margin-top: calc(var(--size) * 0.325);
      margin-right: calc(var(--size) * 0.325);
      color: var(--my-svg) !important;
      stroke: var(--my-black);
      stroke-width: 35px;
    }
  }
}
