.header {
  --link-color: var(--my-orange);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  padding: 1rem;
  width: 100%;

  background: var(--bg-color);
  min-height: 100px;

  .icons {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
  }

  :nth-child(2) {
    // justify-self: center;
  }
  .phoneNumber {
    --size: 32px;
    display: flex;
    // outline: var(--my-outline);
    font-size: var(--size);
    font-weight: bold;
    justify-self: end;

    svg {
      margin-top: calc(var(--size) * 0.325);
      margin-right: calc(var(--size) * 0.325);
      color: var(--my-svg) !important;
      stroke: var(--my-black);
      stroke-width: 35px;
    }
  }
}
